.main {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    text-align: center;
}

.home {
    display: block;
    margin-top: 32px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(190, 50, 50);

}